
@font-face
{
	font-family: alata;
	src:url("font/alata-regular.ttf");
}
* 
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: var(--main-font);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
  }
:root
{
    --nav-height : 80px;
    --nav-width : 90vw;
    --nav-spacing : 10px;
    --main-height : calc();
    --main-color : #FF9F00;
    --second-color : #303030;
    --main-font: alata;
    --radius-1: 15px;
    overflow: hidden;
}
body
{
    background-color: rgb(0, 0, 0);
}

body::before
{
    content: '';
    position: absolute;
    top: calc(var(--nav-height) - 47vh + var(--nav-spacing)) ;
    left: -45%;
    width: 100%;
    height: 100%;
    background: linear-gradient(#FF9F00,#F10C0C);
    clip-path: circle(100px );
    z-index: -2;
}

/* Header : our nav bar propreties*/
#header
{
    margin: auto;
    margin-top: var(--nav-spacing);
    width: var(--nav-width);
    height: var(--nav-height);
    display: block;
    background-color: #303030;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-radius: var(--radius-1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
}

/*container of all header components*/
.header_container
{
    width: 80vw;
    height: 100%;
    display: block;
    margin: 0 auto;
}

/* Logo and logo manipulation*/
.logo_container{
    height: 100%;
    display: table;
    float: left;
}
.logo_container h1{
    text-transform: uppercase;
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-weight: bolder;
    
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-size: 3em;
    /* Shadow and shadow animation*/
    /*text-shadow: 0 0 2px #faa823;*/
    transition: .5s color ;
}
/*shadow animation for the logo*/


/* Navigation options*/
.navigation
{
    float: right;
    height: 100%;
}
.navigation a
{
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;
    color: white;
}
.navigation a li 
{
    display: table-cell;
    vertical-align: middle;
    /* font-family: monospace; */
    font-size: 1.9em;
    color: inherit;
}
.navigation a:hover{
    color: var(--main-color);
    text-shadow : -2px 2px 7px rgba(0,0,0, 1);
}


/* Burger and responsive*/
#burger
{
    display: none;
}
.menu{
    float: right;
    height: 100%;
    display: flex;
}
.menu img
{
    align-self: center;
    height: 35%;
    cursor: pointer;
    display: none;
}

/* Code shower*/
.container 
{
    width: 80vw;
    height: 91vh;
    /*display: grid;*/
    display: none;
}
.container .code
{
    width: 90%;
    justify-self: center;
}
#hero
{
    position: absolute;
    top: 30%;
    left: 35%;
    color: #ff7b00;
    font-size: 6rem;
}
.illustr
{
    position: absolute;
    z-index: -3;
}
#squars
{
    height: 30%;
    top : 40vh;
    right: -65px;
    transform: rotate(30deg);
}
#triangles
{
    height: 40%;
    bottom: -100px;
    transform: rotate(135deg);
}












/* Responsive Nav
@media (max-width : 900px) {
    .header_container
    {
        width: 98%;
    }
}*/

@media (max-width : 950px) {
    #hero
    {
    left: 25%;
    }
    .menu img 
    {
        display: block;
    }
    .navigation
    {
        display: grid;
        position: relative; /* relative to due navigators compatibility*/
        top: var(--nav-spacing);;
        left: -150vw;
        background: linear-gradient(rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.05));        
        width: var(--nav-width);
        height: calc(94vh - var(--nav-height) );
        overflow: scroll;
        border-radius: var(--radius-1);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(20px);
        align-items: center;
        transition: 0.6s left ease-in-out;
        z-index: 5;
    }
    .navigation a
    {
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s ;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .navigation a:hover{
        background: none;  /* to nigate the effect of normal width effect */
        padding-left : 10%;
    }
    #burger:checked ~ .menu img 
    {
        color: var(--main-color);
    }
    #burger:checked ~ .navigation
    {
        left: calc((100vw - var(--nav-width))/2);
    }
    
}






/*#burger_container
{
    float: right;
    display: table;
    height: 100%;
}
#burger_container img
{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}*/





/*
.centre
{
    display: table;
    height: 100%;
    color: whitesmoke;
    text-align: center;
    margin: auto;
}
.centre h1
{
    display: table-cell;
    vertical-align: middle;
}*/
